@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500;700&family=Karla:ital,wght@0,200;0,300;0,400;1,200;1,300&family=VT323&display=swap");
/*vars*/
/*mixins*/
/*funcs*/
* {
  font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

::-webkit-selection {
  background: #000;
  color: #fff;
}

/* MOUSE CURSOR */
.cursor {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(30deg);
  pointer-events: none;
  transition-duration: 0.3s;
  transition-property: background-color, transform;
  background-size: cover;
  z-index: 10000;
  background-color: transparent;
  mix-blend-mode: difference;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 9px;
  line-height: 1.2;
  animation: spinning 2s ease-in-out infinite;
}
.cursor img {
  display: block;
  width: 100%;
}
.cursor-grow--show {
  transform: scale(4.5);
  background-color: #fff;
}
.cursor-grow--show::after {
  transform: scale(0.3);
  content: "MORE";
  display: block;
  color: #000;
  font-weight: 700;
}
.cursor-grow--show.blue {
  background-color: blue;
}
.cursor-grow--show.blue::after {
  color: #fff;
}
.cursor.blue {
  background-color: blue;
}

@keyframes spinning {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}
.f-kv {
  font-family: "Be Vietnam Pro";
  font-size: 1.5vw;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 0.8;
  vertical-align: top;
}
@media screen and (min-width: 1600px) {
  .f-kv {
    vertical-align: top;
    font-family: "Be Vietnam Pro";
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 0.8;
  }
}
@media screen and (max-width: 1023px) {
  .f-kv {
    vertical-align: top;
    font-family: "Be Vietnam Pro";
    font-size: 2.2vw;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 0.8;
  }
}
@media screen and (max-width: 767px) {
  .f-kv {
    vertical-align: top;
    font-family: "Be Vietnam Pro";
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 0.8;
  }
}

.f-h1 {
  font-family: "Be Vietnam Pro";
  font-size: 7.451rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.4;
}

.f-h2 {
  font-family: "Be Vietnam Pro";
  font-size: 5.96rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.4;
}

.f-h3 {
  font-family: "Be Vietnam Pro";
  font-size: 4.768rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.4;
}

.f-h4 {
  font-family: "Be Vietnam Pro";
  font-size: 1.1vw;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 0.8;
}
@media screen and (max-width: 1023px) {
  .f-h4 {
    font-family: "Be Vietnam Pro";
    font-size: 1.5vw;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 0.8;
  }
}
@media screen and (max-width: 767px) {
  .f-h4 {
    font-family: "Be Vietnam Pro";
    font-size: 2.5vw;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 0.8;
  }
}

.f-title {
  font-family: "Be Vietnam Pro";
  font-size: 3.052rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.4;
}

.f-subtitle {
  font-family: "Be Vietnam Pro";
  font-size: 1.563rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.4;
}

.f-p {
  font-family: "Be Vietnam Pro";
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.6;
}

.f-capt {
  font-family: "Be Vietnam Pro";
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.5;
}

body {
  color: #fff;
  background-color: #000;
  max-width: 100vw;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  z-index: 101;
  border-bottom: 1px solid #fff;
}
header .inner {
  transition: color 0.3s linear;
  width: 98%;
  margin: 1.875em auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  word-break: keep-all;
}
header .inner .__left {
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 1023px) {
  header .inner {
    width: 90%;
  }
  header .inner .__center, header .inner .__right {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  header .inner {
    width: 90%;
  }
}

.logo-section {
  width: 100vw;
  position: fixed;
  top: 6.25em;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  z-index: 101;
}
.logo-section .inner {
  transition: color 0.3s linear;
  width: 98%;
  margin: 1.875em auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  word-break: keep-all;
}
@media screen and (max-width: 1023px) {
  .logo-section .inner {
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  .logo-section .inner {
    width: 90%;
  }
}

.main-section {
  display: flex;
  flex-direction: column;
  gap: 1.875em;
  position: relative;
}
.main-section .__tit-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.main-section .__tit-cont span {
  position: relative;
}
.main-section .__tit-cont span em {
  position: absolute;
  top: 0.9375em;
  left: -1.25em;
}
.main-section .__img-cont {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}
.main-section .__img-cont img {
  transition-property: opacity;
  transition-duration: 0.3s;
  opacity: 0;
  display: block;
  height: calc(33.3333333333vh - 2.5em);
  max-width: 18%;
  width: -moz-fit-content;
  width: fit-content;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-section .__img-cont img.show {
  opacity: 1;
}

.marquee-section {
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #000;
  width: 100vw;
  height: 3.125em;
  border-top: 1px solid blue;
  color: #fff;
  display: flex;
  align-items: center;
}
.marquee-section .inner {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  position: relative;
  font-size: 1.25em;
  transform: translate3d(-33.333333%, 0, 0);
  display: flex;
  gap: 0.625em;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  animation: marquee 13s linear infinite;
}
.marquee-section .inner span {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
}

@keyframes marquee {
  0% {
    transform: translate3d(-33.333333%, 0, 0);
  }
  100% {
    transform: translate3d(-66.666666%, 0, 0);
  }
}
.bg-color {
  transition-property: background;
  transition-duration: 1s;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

.video-loader {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.video-loader img {
  width: 12.5em;
  display: block;
}
.video-loader span {
  display: block;
  margin-top: -2.5em;
  font-style: italic;
}

.menu-section {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  margin-top: 9.875em;
}
.menu-section .inner {
  width: 98%;
  margin: 0 auto;
  padding: 2.75em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  transition: color 0.3s linear;
}
.menu-section .inner a {
  text-align: center;
  display: inline-block;
}
.menu-section .inner a:first-of-type {
  text-align: left;
}
.menu-section .inner a:last-of-type {
  text-align: right;
}

.works-section {
  width: 100%;
  margin: 12.5em auto;
}
@media screen and (max-width: 1023px) {
  .works-section {
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  .works-section {
    width: 90%;
  }
}
.works-section .works-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 3.75em;
  align-items: center;
}
.works-section .works-cont .work {
  width: 33%;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 33%;
  position: relative;
}
.works-section .works-cont .work img, .works-section .works-cont .work video {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.1s linear;
  -o-object-fit: cover;
     object-fit: cover;
}
.works-section .works-cont .work img:hover, .works-section .works-cont .work video:hover {
  transform: scale(1.5);
  z-index: 100;
}
@media screen and (max-width: 767px) {
  .works-section .works-cont .work {
    width: 100%;
    padding-bottom: 100%;
  }
}
@media screen and (max-width: 767px) {
  .works-section .works-cont {
    row-gap: 3.125em;
  }
}

.cursor video.hidden-vid {
  display: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cursor.showvid {
  width: 62.5em;
  height: 62.5em;
  border-radius: 31.25em;
  overflow: hidden;
}
.cursor.showvid video {
  display: block;
}/*# sourceMappingURL=style.css.map */